.output{
    
        background-color: lightblue ;
        box-shadow: 0px 1px 1px #000 ;
        height: 250px ;    
        margin-bottom: 20px ;
        overflow: scroll    

    
}

textarea {
    background-color: #dcdcdc ;
}